<app-navbar *ngIf="!token"></app-navbar>

<!-- Mostrar Habitacion Cliente -->
<div class="container px-4 py-5" id="custom-cards">

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

    <div class="col" *ngFor="let su of habitacionModelGetCliente">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg"
        style="background-image: url('../../../assets/images/unsplash-photo-2.jpg');">


        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">

          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{su.tipoHabitacion}}</h2>
          <p class="h6"> No.{{su.numHabitacion}}</p>
          <p class="h6"> Precio: Q{{su.Precio}}.00</p>
          <ul class="d-flex list-unstyled mt-auto">


            <li class="d-flex align-items-center">
              <svg class="bi " width="1em" height="1em">
                <use xlink:href="#calendar3" />
              </svg>
              <small><i class="bi bi-person-badge icons__effect btn btn-sm rounded-circle" data-bs-toggle="modal"
                data-bs-target="#ModalReservacion" (click)="obtenerHabitacionId(su._id)"></i></small>
            </li>

          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- RESERVACION -->
<div class="modal fade " id="ModalReservacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel" style="color: black">Hacer Reservacion</h5>
        <button type="button" class="buttonn close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body">

        <form>
          <div class="mg-3">
            <label for="inputFechaEntrada" class="form-label">Cuantos dias piensas quedarte</label>
            <input type="Number" id="inputFechaEntrada" class="form-control" name="FechaEntrada" #FechaEntrada="ngModel"
              [(ngModel)]="reservacionModelPost.FechaEntrada">
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="buttonn close" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="buttonn offset" data-bs-dismiss="modal" (click)="reservacion()">Agregar
          Reservacion</button>
      </div>
    </div>
  </div>
</div>
