/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.616);
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;

}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


//------------


/* Center align the text within the three columns below the carousel */
.marketing {
  margin-top: 5rem;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.icons__effect:hover {
  background-color: rgb(203, 197, 197);
  color: rgb(0, 0, 0);
  transition: all 0.5s linear;
}

.icons__effect {
  color: white;
}

i {
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(#111b54);
}

.stat {
  border-right: 1px solid #efefef;
}

.bg-grey {
  background: #efefef;
}

.bg-mix {
  background: linear-gradient(180deg, #ffffff 50%, #efefef 0);
}

//css modal

// Animate the size, inside
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

// Animate the size, outside
.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;



}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

// Stack multiple shadows, one from the left, the other from the right
.close:hover,
.close:focus {
  box-shadow:
    inset -3.5em 0 0 0 var(--hover),
    inset 3.5em 0 0 0 var(--hover);
}

// Size can also be negative; see how it's smaller than the element
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

// Animating from the bottom
.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

// And from the left
.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

// Multiple shadows, one on the outside, another on the inside
.offset {
  box-shadow:
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);

  &:hover,
  &:focus {
    box-shadow:
      0 0 0 0 var(--hover),
      inset 6em 3.5em 0 0 var(--hover);
  }
}


$colors: (
  fill: #a972cb,
  pulse: #38c56e,
  close: #e0251b,
  raise: #ffffff,
  up: #1d64c2,
  slide: #8fc866,
  offset: #FCA311

);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 10deg)};
  }
}

// Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.

.buttonn {
  color: var(--color);
  transition: 0.25s;
  &:hover,
  &:focus {
    border-color: var(--hover);
    color: #fff;
  }
}


// Basic button styles
.buttonn {
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.35em 0.7em;
}

.buttonN {
  color: var(--color);
  transition: 0.25s;
  &:hover,
  &:focus {
    border-color: var(--hover);
    color: rgb(255, 255, 255);
  }
}


// Basic button styles
.buttonN {
  border: 2px solid;
  background-color: #000000;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.8em 0.8em;
}

.buttonNN {
  color: var(--color);
  transition: 0.25s;
  &:hover,
  &:focus {
    border-color: var(--hover);
    color: rgb(0, 0, 0);
  }
}


// Basic button styles
.buttonNN {
  border: 2px solid;
  background-color: #000000;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.8em 0.8em;
}

.bd-placeholder-img {
  object-fit: cover;
}
