<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Hola Bienvenido</h1>
      <p class="col-lg-10 fs-4">Ingresa con un correo gerente o con un cuanta cliente</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light">

        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email"
            #email="ngModel" [(ngModel)]="usuarioModel.email">
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"
            #password="ngModel" [(ngModel)]="usuarioModel.password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="login()">Login</button>
        <hr class="my-4">
        <small class="text-muted">No compartimos tu email con terceros.</small>
      </form>
    </div>
  </div>
</div>
